<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body{
            background: rgb(202, 240, 165);
        }
        h1{
            background: rgb(233, 236, 230);
        }
        p{
            background: rgb(61, 71, 50);
        } 
        form{
            font-size: 3ch;
            background: rgb(33, 116, 116);
        }
    </style>
    <title>Digital Checkup</title>
</head>
<body>
    <center>
        <h1 style="padding-top: 4ch; font-size: 8ch; overflow-y: scroll;">Welcome to Healthy Hearts </h1>
        <p style="font-family: monospace; padding-top: 2ch; font-size: 4ch;" >This model predicts whether your heart is healthy or not. </p>
    </center>
    <form action="/sub" method="POST" style="padding-top: 5ch; padding-left: 15ch;" class="form" id="data">
        <table>
        <tr>
        <td><label for="name" >Enter the person's age in years: </label></td>
        <td><input type="number" name="a" placeholder="Enter age " step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"> -->
    </td>
    </tr>
        <tr>
        <td><label for="name" >Enter the person's sex (1 = male, 0 = female) : </label></td>
        <td><input type="number" name="b" placeholder="Enter gender" step="1"  required>
        <!-- <input type="submit" style="opacity: inherit;"> -->
    </td>
    </tr>
</tr>

        <td><label for="name" >Enter the chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic) : </label></td>
        <td><input type="number" name="c" placeholder="Enter cp" step="1"  required>
        <!-- <input type="submit" style="opacity: inherit;"> -->
    </td>
    <tr>
        <td><label for="name" >Enter the person's resting blood pressure(mm Hg on admission to the hospital) : </label></td>
        <td><input type="number" name="d" placeholder="Enter trestbps"  step="0.001" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter the person's cholesterol measurement in mg/dl : </label></td>
        <td><input type="number" name="e" placeholder="Enter chol" step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
        </tr>
        <tr>
        <td><label for="name" >Enter the The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false) : </label></td>
        <td><input type="text" name="f" placeholder="Enter fbs" step="1"  required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter the Resting electrocardiographic measurement : </label></td>
        <td><input type="number" name="g" placeholder="Enter restecg"  step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter the person's maximum heart rate achieved: </label></td>
        <td><input type="number" name="h" placeholder="Enter thalach" step="0.1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter Exercise induced angina (1 = yes; 0 = no) </label></td>
        <td><input type="number" name="i" placeholder="Enter exang" step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter  ST depression induced by exercise relative to rest: </label></td>
        <td><input type="number" name="j" placeholder="Enter oldpeak" step="0.1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping): </label></td>
        <td><input type="number" name="k" placeholder="Enter slope" step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter the number of major vessels (0-3): </label></td>
        <td><input type="number" name="l" placeholder="Enter ca" step="1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td><label for="name" >Enter thal,a blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect): </label></td>
        <td><input type="number" name="m" placeholder="Enter thal" step="0.1" required>
        <!-- <input type="submit" style="opacity: inherit;"></td> -->
    </tr>
    <tr>
        <td></td>
    <td><input type="submit" style="opacity: inherit;"></td>
</tr>
        </table>

    </form>
</body>
</html>